**Anas**

<h1 style="color:blue"> H1 </h1>

In [3]:
print ("anas")

anas

In [10]:
print ("Anas")

Anas

In [11]:
x = "Anas"

In [12]:
type(x)

str

In [13]:
print(type(x))

<class 'str'>

In [18]:
x = 5
y = 5.5
z = True
a = "anas"

In [19]:
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [20]:
x = input("enter your name: ")

enter your name: Anas Ayman

In [21]:
print(x)

Anas Ayman

In [29]:
username = "anas"
password = 123

userinput = input("please enter your username: ")
userpass = int(input("please enter your pass: "))

if username == userinput and userpass == password:
    print("login success")
else:
    print("failed")

please enter your username: anas
please enter your pass: 123
login success

In [56]:
string = "Anas Ayman"

In [31]:
string.capitalize()

'Anas'

In [32]:
string.upper()

'ANAS'

In [33]:
string.lower()

'anas'

In [35]:
string.swapcase()

'Anas'

In [36]:
string.count("A")

1

In [38]:
string.index("N")

1

In [40]:
string.find("S")

3

In [41]:
string[0]

'a'

In [42]:
string[3]

'S'

In [46]:
string[:-1]

'Ana'

In [58]:
string[::3]

'Asyn'

In [59]:
string[::-1]

'namyA sanA'

#Containers:
1- list
2- tuple
3- dict
4- set

In [66]:
x = [1,2,3,4,"thor",True]

In [61]:
type(x)

list

In [67]:
x.append("anas")

In [68]:
x

[1, 2, 3, 4, 'thor', True, 'anas']

In [70]:
newlist = []
newlist.append(string)
newlist

['Anas Ayman']

In [72]:
x.pop()
x

[1, 2, 3, 4, 'thor']

In [74]:
x.append(True)
x

[1, 2, 3, 4, 'thor', 'anas', True]

In [76]:
x = ['ahmed','Zaki']
x.sort()
x

['Zaki', 'ahmed']

In [80]:
names = "ahmed,ali,anas"
names.split(',')

['ahmed', 'ali', 'anas']

In [81]:
newlist = names.split(",")

In [82]:
newlist

['ahmed', 'ali', 'anas']

In [83]:
x = [1,3,4,[1,2,3]]
x[3][0] = 12
x

[1, 3, 4, [12, 2, 3]]

In [87]:
y = (1,2,3,[4,5])

In [89]:
y[-1][0] = 9
y

(1, 2, 3, [9, 5])

In [91]:
y += (14,55)
y

(1, 2, 3, [9, 5], 14, 55, 14, 55)

In [92]:
s = {0,9,'6',7,4}
s

{0, 4, 6, 7, 9}

In [94]:
s.pop()
s

{6, 7, 9}

In [96]:
d = {"egy":"02","US":"001","katar":"980"}
d

{'egy': '02', 'US': '001', 'katar': '980'}

In [97]:
d['egy']

'02'

In [98]:
for i in x:
    print(i)

1
3
4
[12, 2, 3]

In [103]:
for i in range (0,len(x)):
    print(x[i])

1
3
4
[12, 2, 3]

In [107]:
x = [1,23,4,5,1,1]
counter = 0 
for i in x:
    if i == 1:
        counter += 1
counter

3